.Container {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: #97a0aa17;
    padding: 32px 16px;
    box-sizing: border-box;
}

.HeaderContainer {
    display: flex;
    justify-content: space-between;
    overflow-y: hidden;
}

.List {
    overflow-y: scroll;
}
