.Logo {
    /* background-color: white; */
    padding: 0px;
    height: 200%;
    box-sizing: border-box;
    width: 100%;
    margin-top: -32px;
    margin-left: 10px;
}

.Logo img {
    height: 100%;
}
