.Container {
  display: flex;
  flex-direction: column;
  height: 70vh;
  box-sizing: border-box;
  margin-top: 20px;
}

.DropdownContainer {
  display: flex;
  margin: 15px 0;
}

.LanguagesContainer {
  display: flex;
}

.LanguagesContainer select {
  font-size: 15px;
}

.ThemeContainer {
  display: flex;
}

.ThemeContainer select {
  font-size: 15px;
}
