.Container {
    display: flex;
    flex-direction: column;
    height: 70vh;
    box-sizing: border-box;
    margin-top: 20px;
}

.DropdownContainer {
    display: flex;
    margin: 15px 0;
}

.LanguagesContainer {
    display: flex;

}

.LanguagesContainer label {

}

.LanguagesContainer select {
    font-family: 'Architects Daughter', cursive;
    font-size: 15px;
}

.ThemeContainer {
    display: flex;
}

.ThemeContainer label {

}

.ThemeContainer select {
    font-family: 'Architects Daughter', cursive;
    font-size: 15px;
}
