.Container {
    height: 100vh;
    box-sizing: border-box;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 30px;
}

.Container input {
    margin: 10px 0;
    width: 100%;
    height: 35px;
    padding: 0 12px;
}

.ActionsContainer {
    margin-top: 70px;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.ActionsContainer > * {
    padding-left: 20px;
}
